* {
  margin: 0;
  
}

body {
  font-family: "Roboto", sans-serif;
  font weight:500;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: white;
  border: 1px solid none;
  box-shadow: 15px 3px 28px #add0da;
}
nav > ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

nav > ul > li {
  font-size: large;
  padding: 20px;
}

nav > ul > li a {
  text-decoration: none;
  color: black;
}
.nav-list:hover {
  background-color: gainsboro;
  transition: 0.8s;
}

.logo {
  width: 200px;
}

.nav-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.nav-span {
  font-size: 40px;
  font-weight: bolder;
  /* color: linear-gradient(, ); */
  background: -webkit-linear-gradient(#22fb8c, #0db2e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-pic {
  width:80%;
  margin-left: 15%;
  margin-bottom: 2cm;
}

.intro {
  align-items: center;
  font-size: 27px;
  margin-bottom: 60px;
  line-height: 1cm;
  margin-left: 150px;
  margin-right: 150px;
  font-family: "Times New Roman", Times, serif;
}
.intro-2 {
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 27px;
  margin-bottom: 60px;
  line-height: 1cm;
  margin-bottom: 10cm;
  font-family: "Times New Roman", Times, serif;
}
.trophy {
  width: 60%;
  float: left;
  margin-right: 30px;
}
.search-icon {
  width: 25%;
  float: left;
  margin-right: 25px;
}
.middle {
  width: 50%;
  margin: auto;
  text-align: left;
}
.market-pos {
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 27px;
  margin-bottom: 60px;
  line-height: 1cm;
  margin-bottom: 10cm;
}
.value-icon {
  width: 25%;
  float: right;
  margin-right: 25px;
}
.Value-Proposition {
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 27px;
  margin-bottom: 60px;
  line-height: 1cm;
  margin-bottom: 10cm;
}
.partners {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 60px 30px 55px 40px;
  position: relative;
  z-index: 5;
  box-shadow: 0px 30px 70px 0px rgb(223 227 234 / 50%);
  display: block;
  margin-left: 500px;
  margin-right: auto;
  width: 30%%;
}

.Facts {
  margin: 50px 0px;
  background-color: aquamarine;
}
.Facts > h3 {
  font-size: 60px;
  text-align: center;
}
.financials {
  margin: 50px 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  padding: 2%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  box-shadow: 0px 30px 70px 0px rgb(226 232 236 / 50%);
  background-color: white;
  width: 15%;
}
.column > img {
  width: 40%;
}
.column-2 {
  padding: 2%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  box-shadow: 0px 30px 70px 0px rgb(226 232 236 / 50%);
  background-color: white;
  width: 35%;
}
.culture > h1 {
  font-size: 60px;
  text-align: center;
}
.culture-2 {
  margin: 50px 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clients {
  padding: 2%;
  border: 3px solid #eaeaea;
  border-radius: 15px;
  box-sizing: content-box;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
  box-shadow: 0px 30px 70px 0px rgb(226 232 236 / 50%);
  background-color: white;
  width: 40%;
  margin-bottom: 2cm;
  line-height: 30px;
}
.clients > img {
}

footer {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 90px;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(right, #0db2e5, #22fb8c);
}

.about-link {
  text-decoration: none;
  color: white;
  font-size: 50px;
}

footer {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 90px;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(right, #0db2e5, #22fb8c);
}

.c-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-logo-img {
  width: 200px;
}
.about-link {
  text-decoration: none;
  color: white;
  font-size: 50px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-imgs {
  align-items: flex-start;
}
.footer-img {
  width: 150px;
  margin-left: 20px;
}
.footer_hr {
  margin-top: 30px;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #fff;
}
.footer__contact > h4 {
  font-weight: 300;
}
